@dbName = 'myData2013.db'

@outputQueries= [ [ "SELECT COUNT(*) FROM books", "Books Read" ], 
                  [ "SELECT SUM(pages) FROM books", "Pages Read" ] ]

@liftQuery = "SELECT MAX(weight) FROM lifts WHERE name=? and reps=? "

@lifts = [ "Back Squat","Clean", "Squat Clean", "Clean & Jerk",
         "Deadlift", "Front Squat", "Overhead Squat",
         "Push Jerk", "Push Press", "Shoulder Press",
         "Snatch", "Squat Snatch", "Sots Press" ]

#@outputFile = "/home/mcormier/sites/stats/blah.html"
@outputFile = "data.xml"

@xmlEncoding = "ASCII"
