# An absolute path to the database file is required
@dbName = '/home/mcormier/sites/tallyman/data/tallyMan2013.db'

# Where bin/backupData will copy a backup file
@backupDir = '/home/mcormier/Dropbox/backups/tallyman'

# Where the generated index.html will go
@webRoot= '/home/mcormier/sites/stats/'
@outputHTMLFile = @webRoot + 'index.html'

#  The theme to use.  See data/themes if you want
# to create your own theme.
@theme='feltron2006'

# Where the meta-data file will be put.  This file
# is used to generate the HTML with XSL
@xmlDataFile= "../data/data.xml"

@outputQueries= [ [ "SELECT COUNT(*) FROM books", "Books Read" ], 
                  [ "SELECT SUM(pages) FROM books", "Total Pages Read" ], 
                  [ "SELECT COUNT(*) FROM music", "Albums Purchased" ], 
                  [ "SELECT COUNT(*) FROM countTable WHERE event='Ripped Skin'", "Skin Rips" ] ]

@liftQuery = "SELECT MAX(weight) FROM lifts WHERE name=? and reps=? "

@lifts = [ "Deadlift", "Back Squat","Clean", "Front Squat", "Clean & Jerk", "Squat Clean",
         "Push Jerk", "Push Press", "Shoulder Press",
         "Overhead Squat",
         "Snatch", "Squat Snatch", "Sots Press" ]

@liftReps =  [ "1RM", "3RM", "5RM" ]

@mainMenuValues = [ "Add Book","Add Lift", "Add Music"]

@xmlEncoding = "ASCII"
#
# Sets up proper syntax highlighting in vim
# vim: set syntax=ruby:
#
