@dbName = '/home/mcormier/sites/tallyman/myData2013.db'

@outputQueries= [ [ "SELECT COUNT(*) FROM books", "Books Read" ], 
                  [ "SELECT SUM(pages) FROM books", "Total Pages Read" ] ]

@liftQuery = "SELECT MAX(weight) FROM lifts WHERE name=? and reps=? "

@lifts = [ "Deadlift", "Back Squat","Clean", "Front Squat", "Clean & Jerk", "Squat Clean",
         "Push Jerk", "Push Press", "Shoulder Press",
         "Overhead Squat",
         "Snatch", "Squat Snatch", "Sots Press" ]

@outputFile = "./xslt/data.xml"

@xmlEncoding = "ASCII"
