@dbName = '/home/mcormier/sites/tallyman/data/myData2013.db'
@outputHTMLFile = '/home/mcormier/sites/stats/index.html'
@outputFile = "./xslt/data.xml"

@outputQueries= [ [ "SELECT COUNT(*) FROM books", "Books Read" ], 
                  [ "SELECT SUM(pages) FROM books", "Total Pages Read" ] ]

@liftQuery = "SELECT MAX(weight) FROM lifts WHERE name=? and reps=? "

@lifts = [ "Deadlift", "Back Squat","Clean", "Front Squat", "Clean & Jerk", "Squat Clean",
         "Push Jerk", "Push Press", "Shoulder Press",
         "Overhead Squat",
         "Snatch", "Squat Snatch", "Sots Press" ]


@xmlEncoding = "ASCII"
