@font-face {
 font-family:'Octicons_IE';
 src: url(../fonts/octicons-regular-webfont.eot);
 src: url('../fonts/octicons-regular-webfont.eot#iefix') format("embedded-opentype"); 
 font-weight:normal;
 font-style:normal;
}
@font-face {
 font-family:'Octicons Regular';
 src: url('../fonts/octicons-regular-webfont.woff') format("woff"),  
      url('../fonts/octicons-regular-webfont.ttf') format("truetype"), 
      url('../fonts/octicons-regular-webfont.svg#newFontRegular') format("svg"); 
 font-weight:normal;
 font-style:normal;
}

/*
 * Tested with IE 9, Chrome 23, Safari 6.0.2(OS X), iOs 6 Safari
 */

/* @group Octicon Font Stuff */
.mini-icon:before, .mega-icon:before {
  font-family:normal normal 'Octicons Regular', 'Octicons_IE';
  display:inline-block;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  text-decoration:none;
  font-size:16px;
  width:16px; height:16px
}

.mega-icon:before {font-size:32px;width:32px;height:32px;}
.mega-icon {vertical-align:middle;font-size:32px;}

/* Only define the icons begin used. 
 * https://github.com/styleguide/css/7.0
 */
.mini-icon-keyboard:before{content:"\f00d"}
.mega-icon-keyboard:before{content:"\f20d"}
.mini-icon-history:before{content:"\f07e"}
.mega-icon-history:before{content:"\f27e"}
.mini-icon-arr-right:before{content:"\f03e"}
.mega-icon-arr-right:before{content:"\f23e"}
.mini-icon-arr-left:before{content:"\f040"}
.mega-icon-arr-left:before{content:"\f240"}
/* @end */

/* @group Global definitions */
body {margin-left:0px; font:11px Georgia, serif; color:#000;
      text-transform:uppercase; letter-spacing:1px;}
div {display:block;}

ul { 
  list-style-type:none; 
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h2, h3 {text-transform: uppercase;}
h3 {font-size:14px;}

a {
 text-decoration:none;
 color:#999; font-size:14px;
 text-transform:none;
}
a:hover {text-decoration:underline;}

strong {color:#333;} 

.divide-line {
  border-top:1px solid #808080;
  border-bottom:1px solid #B0B0B0;
  margin-bottom:0px; padding: 1px;
}

.value {font:112px Helvetica, Arial, sans-serif; font-weight:bold;}
/* @end */

/* @group Main Sections */

#macro, #shortcuts {position:relative; margin:0 auto;}
  .featureRow {height:40px;}
  .shadow {box-shadow:inset 0 0 10px #000;}
  .fullWidthWrapper {width:100%;background:#b7b7b7;}

div.wrapper {margin:0 auto; width:850px; padding:10px 0px 0px 60px;}
  div.wrapper > div {float:left;}
  div#right_col {clear:right;}

#macroShowDiv, #shortcutsToggle {margin:0 auto; width:790px;}
#macroShow , #showShortcuts {width: 400px;height:30px;padding-left:0px;
  display:block; background-color:transparent; }

div.clear { clear: left; }

/* @end */

/* @group Keyboard Shortcuts */
#shortcutsContent {margin:0 auto;padding-top:20px;height:0px;width:790px;}
#shortcutsContent div {text-transform:none; letter-spacing:0px;}

dl.keyboard-mappings dt {
  display:inline-block;
  margin:0px;
  padding:3px 6px;
  min-width:10px;
  text-align:center;
  font:18px Monaco, "Liberation Mono", Courier, monospace;
  background:#333; color: #EEE;
  border-radius:2px;
  text-shadow:1px 1px 0 #000;
}

dl.keyboard-mappings dd {
  font-size:14px;
  text-shadow:1px 1px 0 #FFF;
  display:inline;
  margin:0 0 0 5px;
}

#shortcutsContent h2 {font-size:16px; margin:0 0 0px -10px;
  padding:0 10px 10px;}

#showShortcuts {text-align:right; vertical-align:right; width:100%;}
/* @end */

/* @group Macro Contents */
#macroHistoryContent {margin:0 auto; padding-top:20px; height:500px;
  width: 790px;}
/* @end */

/* @group HTML 5 Transform/Transition classes */

.drawer { 
  height: 0px;
  overflow: hidden;
  transition:           height 500ms ease-in-out;
    -moz-transition:    height 500ms ease-in-out;
    -ms-transition:     height 500ms ease-in-out; /* IE 10 and up. */
    -o-transition:      height 500ms ease-in-out;
    -webkit-transition: height 500ms ease-in-out;
}

.fadeIn {
  transition:           opacity 250ms ease-in-out;
    -moz-transition:    opacity 250ms ease-in-out;
    -ms-transition:     opacity 250ms ease-in-out; /* IE 10 and up. */
    -o-transition:      opacity 250ms ease-in-out;
    -webkit-transition: opacity 250ms ease-in-out;
}

.vertText {
  transform:           rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
}
/* @end */

/* @group Lifts Content */
div.liftName {font-weight:bold; margin-top: 10px;}

div.liftValue {position:relative; height:145px; width:263px; float:left;}

  div.liftValue p {margin:0px; color:#CCC; 
                   position:absolute; font-weight:bold;
                   font-family:Helvetica, Arial, sans-serif; }
  div.liftValue p.vertText {
    font-size:48px; top:55px; right:-50px; width:145px; height:50px; }

  div.liftValue p.value {
    padding:0px 0px 0px 15px; 
    float:left; width:150px; color:#000; }
  
  div.liftValue p.fadeIn {opacity:0;} 

  div.liftValue p.volumeEstimate, 
  div.liftValue p.oneToTenSpread {
    font-size:15px;
    bottom:10px;
    width:790px;
    text-transform: none; 
  }
  div.liftValue p.oneToTenSpread span.spreadValue { 
    display:block; 
    float:left; height:20px; width:79px;}

  div.liftValue p.estimates {font-size:18px; left:35px; bottom:0px;}

  .oneToTenSpread {left:20px;}
/* @end */

/* @group Single Value Data */

div#right_col ul li div.big_display div.center {margin:0px 50px 0px 50px;}

div.big_display {text-transform: uppercase; height:200px; width:374px;}

  div.center {width:100%;}

  div.center h2 {
    font-size:11px; line-height:1.4em; color:#333; margin-top:5px; 
  }

  div.center div.value span {font-weight:bold;}
/* @end */

/* @group device specific styles */

/* The box shadow on the iPad is not cleared during
 * the drawer animation.  This is an iOS bug so
 * remove the shadow for these devices.
 */
@media
/* iPad 1 and 2  */
only screen  
  and (device-width: 768px)
  and (device-height: 1024px)
  and (-webkit-min-device-pixel-ratio: 1), 
/* iPad 3 and 4 */ 
only screen  
  and (device-width: 768px)
  and (device-height: 1024px)
  and (-webkit-min-device-pixel-ratio: 2), 
/* The iPhones */
only screen  
  and (max-device-width: 480px)
  
{

  .shadow {
    box-shadow:         inset 0 0 0px #FFFFFF;
  }
}

/* @end */

/* vim: set foldmethod=marker:
 * vim: set foldmarker=@group,@end:
 * vim: set foldlevel=1:
 * vim: set nofoldenable: */
