@font-face {
 font-family:'Octicons Regular';
 src: url('../fonts/octicons-regular-webfont.eot');
 src: url('../fonts/octicons-regular-webfont.eot#iefix') format("embedded-opentype"),
     url('../fonts/octicons-regular-webfont.woff') format("woff"), 
     url('../fonts/octicons-regular-webfont.ttf') format("truetype"), 
     url('../fonts/octicons-regular-webfont.svg#newFontRegular') format("svg"); 
 font-weight:normal;
 font-style:normal;
}

body, ul, div {}

body { 
  margin-left: 0px; }



ul { 
  list-style-type:none; 
  -webkit-padding-start: 40px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a {
 text-decoration: none;
 color:#999 !important;;
 font-size: 14px;
}

a:hover {
 text-decoration: underline;
}
a:active, a:link, a:hover, a:visited {
  background-color:#dedede;
}

.shadow { box-shadow: inset 0 0 10px #000; }

.fullWidthWrapper {
  width: 100%;
  background: #b7b7b7;
  padding-left: 40px;
}

.featureRow {
  padding-left: 70px;
  height:40px;
}


#shortcutsDrawer { }
#shortcutsContent {
  margin: 0 auto;
  padding-top:20px;
  height: 0px;
  width: 790px;
}

.drawer { 
  height: 0px;
  overflow: hidden;
   transition:          height 500ms ease-in-out;
    -moz-transition:    height 500ms ease-in-out;
    -ms-transition:     height 500ms ease-in-out;
    -o-transition:      height 500ms ease-in-out;
    -webkit-transition: height 500ms ease-in-out;
}

#macroHistoryContent {
  margin: 0 auto;
  padding-top:0px;
  height:500px;
  /* Don't use background: since it's not supported by Firefox. */
  background-image: url('../images/monthlyTrainingData.jpg'); 
  background-repeat: no-repeat;
  background-position: 0 20px;
  width: 790px;
}

#macroShowDiv , #shortcutsToggle {
  margin: 0 auto;
  width: 790px;
}

#macroShow , #showShortcuts {
  width: 400px;
  height: 30px;
  padding-left:0px;
  display:block;
  background-color:transparent;
}

#macro, #shortcuts  {
 position: relative;
 margin: 0 auto;
}

.mini-icon:before, .mega-icon:before {
  font-family:'Octicons Regular';
  font-weight:normal;
  font-style:normal;
  display:inline-block;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  text-decoration:none;
  font-size:16px;
  width:16px;
  height:16px
}

.mega-icon { 
  vertical-align:middle; 
  font-size:32px;
  width:32px;
  height:32px; 
}


.mega-icon:before { font-size:32px;width:32px;height:32px; }

.mini-icon-keyboard:before{content:"\f00d"}
.mega-icon-keyboard:before{content:"\f20d"}

.mini-icon-history:before{content:"\f07e"}
.mega-icon-history:before{content:"\f27e"}

.drawer-toggle {
  color:#999;
  margin-top: 0px;
  vertical-align: middle;
}

div#lifts {
 float:left;
 width: 790px;
 margin: 0, auto;
 padding-left: 70px;
 padding-top:10px;
}

div.clear {
  clear: left;
}

div#lifts div {
}

div#lifts div div:nth-child(3), 
div#lifts div div:nth-child(4), 
div#lifts div div:nth-child(5) {
  width:263px;
  float:left;
}


div#lifts div div.divide_line {
}

div#lifts div div.liftName {
  clear: left;
  text-transform: uppercase;
  font-size:11px;
  line-height: 1em;
  font-family: Georgia, serif;
  font-weight: bold;
  margin-top: 10px;
}

div#lifts div div.liftValue {
  font-size:112px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  height: 145px;
}

div#lifts div div.liftValue p {
  margin-top:20px;
  margin-bottom:0px;
  font-size:48px;
  width: 100px;
  float:right;
  color: #dedede;
  text-align:left;
  z-index:10;
  position: relative;
}

div#lifts div div.liftValue p.value {
  margin: 0px;
  padding: 0px; 
  font-size:112px;
  float:left;
  color: #000;
  text-align:center;
  z-index:9;
  width:150px;
}

div#lifts div div.liftValue p.estimates {
  font-size:15px;
  font-family: Georgia, serif;
  float:left;
  z-index:10; 
  text-align:center;
  position:relative;
  left:0px;
  top:-15px;
  width:200px;
  margin-bottom:0px;
  margin-top:0px;
  font-weight:bold;
  opacity:0;

  transition:           opacity 500ms ease-in-out;
    -moz-transition:    opacity 500ms ease-in-out;
    -ms-transition:     opacity 500ms ease-in-out;
    -o-transition:      opacity 500ms ease-in-out;
    -webkit-transition: opacity 250ms ease-in-out;

}
div#lifts div div.liftValue p.vertText {
  position:relative;
  top:10px;
  right:0px;
}

div#lifts div div.liftValue p.estimates span.actual {
  color:#888; 
  font-size:18px;
  font-family: Helvetica, Arial, sans-serif;
}

div#lifts div div.liftValue p.estimates span.arrow {
  color:#aaa; 
  font-size:18px;
}
.vertText {
  writing-mode:tb-rl;
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);


  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

}

div#lifts table tr td {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

div#lifts table tr:nth-child(odd) {
  background-color: #dedede;
}

div#lifts table tr td {
  text-align: center;
}

div#lifts table tr td:nth-child(1) {
  font-size: 20px;
  color: #333;
  text-align: right;
  padding-right:10px;
  font-family: Georgia, serif;
}

div#lifts table {
}

div#lifts table th {
  background-color: #A1A1A1;
  color: #FFF;
}

div#left_col {
  float: left;
}

div#right_col {
  float: left;
  clear: right;
}

div.wrapper {
  margin: 0 auto;
  width: 850px;
}


div.top, div.bottom, div.center {
  width:374px;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-origin: padding-box;
  background-size: auto;
  display: block;
  letter-spacing: 1px;

  margin: 0px;
  padding: 10px 24px 0px 24px;
}

div.top, div.bottom { padding: 0px; }

div.bottom { }

div.big_display {
  text-transform: uppercase;
  height:200px;
  width:374px;
}

div.center { }

div.center h2 {
  font-size:11px;
  line-height: 1.4em;
  font-family: Georgia, serif;
  color: #333;
  margin-top: 5px;
}

div.value span {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 112px;
  font-weight: bold;
  color: #000;
}


.divide_line {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 0px;
  padding: 1px;
}

/* styles for the shortcuts drawer */

dl.keyboard-mappings dt {
  display: inline-block;
  margin: 0;
  padding: 3px 6px;
  min-width:10px;
  text-align: center;
  font-family: Monaco, "Liberation Mono", Courier, monospace;
  background: #333;
  color: #EEE;
  border-radius: 2px;
  text-shadow: 1px 1px 0 #000;
}

dl.keyboard-mappings dd {
  display: inline;
  margin: 0 0 0 5px;
  color: #666;
}

#shortcutsContent h2 {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 16px;
  margin: 0 0 0px -10px;
  padding: 0 10px 10px 10px;
}

h3 {
  font-size: 14px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

.light-line {
  border-bottom-color: #ddd;
  border-top-color: #ddd;
}


/* The box shadow on the iPad is not cleared during
 * the drawer animation.  This is an iOS bug so
 * remove the shadow for these devices.
 */
@media
/* iPad 1 and 2  */
only screen  
  and (device-width: 768px)
  and (device-height: 1024px)
  and (-webkit-min-device-pixel-ratio: 1), 
/* iPad 3 and 4 */ 
only screen  
  and (device-width: 768px)
  and (device-height: 1024px)
  and (-webkit-min-device-pixel-ratio: 2), 
/* The iPhones */
only screen  
  and (max-device-width: 480px)
  
{

  .shadow {
    box-shadow:         inset 0 0 0px #FFFFFF;
  }
}

